* {
	box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #b4dfff;
}

h3 {
  font-weight: 700;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-logo {
 image-rendering: auto;
}

.pokemon-button {
  background-color: white;
  text-transform: uppercase;
  width: 75%;
  padding: 14px;
  font-size: 16px;
  color: black;
  border: 2px solid #fbd743;
  cursor: pointer;
  transition: color .15s;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
}

.pokemon-button:hover {
  background-color: #ff3535;
}

.pokemon-list {
  list-style-type: none;
  margin: 0.5;
  padding: 0.5;
  display: grid;
  width: 90%;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, 300px);
  margin-top: 9vh;
}

li {
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 45, 0, 0.5);
  z-index: 999; 
  overflow: auto; 
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}